@import "../common/variables";
@import "../common/mixins";
@import "../common/commons";

.body {
  background-color: rgb(255, 252, 248);
}

main {
  #location {
    .location-wrapper {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      .location-container {
        display: flex;
        margin-top: 20px;
        .map-side {
          width: 100%;
          .office-location {
            h2 {
              font-size: 20px;
              font-weight: 500;
            }
            p {
              margin-top: 15px;
              margin-bottom: 15px;
              font-size: medium;
            }
          }
          .map {
            overflow: hidden;

            padding-bottom: 70%;

            position: relative;

            height: 0;
            & iframe{
              left:0;

              top:0;
          
              height:100%;
          
              width:100%;
          
              position:absolute;
            }
          }
          .contact-side{
            margin-top: 20px;
            margin-bottom: 20px;
            .contact{

              .fa-phone{
                color: $secondary-color;
                font-size: 30px;
                
              }
              li{
                &:not(:first-child){
                  margin-top: 10px;
                }
              }
            }
            .operation{
              .fa-clock{
                color: $secondary-color;
                font-size: 30px;
              }
              li{
                &:not(:first-child){
                  margin-top: 10px;
                }
              }
            }
            h4{
              color: rgb(53, 53, 53);
              font-weight: 500;
            }
            p{
              font-size: small;
              color: grey;
            }
          }
        }
        .agent-side {
          width: 40%;
          margin-left: auto;
          margin-right: auto;

          .agent-box {
            width: 100%;
            background-color: white;
            padding: 30px;
            border-radius: 4px;
            border: 1px solid rgb(221, 221, 221);
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .header {
              p {
                font-size: 1vw;
              }
              h3 {
                text-align: center;
                font-weight: 500;
              }
            }
            .body-image {
              max-width: 210px;
              margin: 30px auto 20px;
              img {
                vertical-align: middle;
                border-style: none;
                max-width: 100%;
                height: auto;
              }
            }
            .footer {
              button {
                border: none;
                color: white;
                background-color: $secondary-color;
                padding: 10px 20px;
                border-radius: 5px;
                margin-top: 15px;
              }
            }
          }
        }
      }
    }
  }
}

@include for-notebook-only() {
  main {
    #location {
      .location-wrapper {
       
        .location-container {
          justify-content: flex-start;
          .agent-side {
            
            margin-left: 20px;
          }
        }
      }
    }
  }
}

@include for-ipad-only() {
  main {
    #location {
      .location-wrapper {
        width: 80% !important;
        margin-left: auto;
        margin-right: auto;
        .location-container {
          justify-content: flex-start;
          
        }
      }
    }
  }
}

@include for-ipadMini-only() {
  main {
    #location {
      .location-wrapper {
        width: 80% !important;
        margin-left: auto;
        margin-right: auto;
        .location-container {
          justify-content: flex-start;
          .agent-side{
            display: none;
          }
          
        }
      }
    }
  }
}
