* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
::selection{
  background: $secondary-color;
  color: white;
}


header{
  position: fixed;
  top: 0;
  z-index: 3434;
  width: 100%;
  transition: 0.5s;
}